<div class="container">
  <div class="header">
    <mat-icon class="icon-pink">schedule</mat-icon>
    <span class="last-connection">
      Última conexión: <strong class="text-pink">Miércoles 1 de Octubre 12:00h.</strong>
    </span>
    <div class="close">
      <mat-icon class="icon-blue">check</mat-icon>
      <span>Cerrar</span>
    </div>
  </div>
  <div class="content">
    <h2>Hola Karinne,</h2>
    <p>Bienvenida de vuelta, en estos momentos tienes publicadas:</p>
    <ul>
      <li>36 fotos</li>
      <li>24 vídeos</li>
      <li>12 ilustraciones</li>
    </ul>
    <div class="buttons">
      <button class="btn btn-primary-outline">Ver todas tus publicaciones</button>
      <button class="btn btn-primary" (click)=newAttachmentScreen() >Añadir nuevo elemento</button>
    </div>
  </div>
</div>
