:root {
  --pink: #ee28ff;
  --blue: #0179ff;
  --black: #131313;
  --light-blue-bg: #f5f9fd;
}

/* .container {
  background-color: #f5f9fd;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
} */
.container {
  background-color: white;
  padding: 28px 22px;
  border-radius: 14px;
  box-shadow: 0 2px 14px 0 #e1eeff44;
  font-family: 'Arial', sans-serif;
  margin: 36px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.icon-pink {
  color: #ee28ff;
}

.last-connection {
  font-size: 14px;
  color: #131313;
}

.text-pink {
  color: #ee28ff;
}

.close {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #0179ff;
}

.icon-blue {
  color: #0179ff;
  margin-right: 5px;
}

.content {
  margin-top: 20px;
  text-align: left;
  width: 80%;
}

h2 {
  color: #131313;
  font-size: 18px;
  font-weight: bold;
}

p {
  color: #131313;
  margin: 5px 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #131313;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn-primary-outline {
  border: 1px solid #0179ff;
  background-color: transparent;
  color: #0179ff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #0179ff;
  color: #f5f9fd;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
