<div class="container bg-white">
  <div class="header">
    <i class="material-icons">arrow_back</i>
    <span>Añadir nuevo elemento</span>
    <span class="close">Cerrar <i class="material-icons blue">check</i></span>
  </div>
  <div class="content">
    <h2>Datos del archivo</h2>
    <div class="form-group file-types">
      <label>
        <input
          type="radio"
          name="fileType"
          value="Fotografía"
          checked
          (change)="onFileTypeChange($event)"
        />
        Fotografía
      </label>
      <label>
        <input
          type="radio"
          name="fileType"
          value="Vídeo"
          (change)="onFileTypeChange($event)"
          disabled
        />
        Vídeo
      </label>
      <label>
        <input
          type="radio"
          name="fileType"
          value="Ilustración"
          (change)="onFileTypeChange($event)"
          disabled
        />
        Ilustración
      </label>
      <label>
        <input
          type="radio"
          name="fileType"
          value="3D"
          (change)="onFileTypeChange($event)"
          disabled
        />
        3D
      </label>
    </div>
    <div class="form-group d-flex align-items-center w-50">
      <label for="title" class="me-2">Título</label>
      <input type="text" id="title" [(ngModel)]="title" />
    </div>
    <div class="form-group d-flex align-items-center w-50">
      <label for="price" class="me-1">Precio</label>
      <input type="text" id="price" [(ngModel)]="price" />
    </div>
    <div class="file-upload">
      <input
        type="file"
        id="fileInput"
        (change)="onFileChange($event)"
        hidden
        accept=".jpg, .jpeg, .png"
        #fileInputRef
      />
      <div class="upload-box" (click)="openFileInput()">
        @if(!isLoading){ @if(fileName.length<1){
        <i class="material-icons purple">cloud_upload</i>
        <p>Arrastra desde tu ordenador el archivo que quieres cargar</p>
        <small
          >Recuerda que el archivo no puede superar los 2 Mb. y tiene que ser en
          formato .JPG o .PNG</small
        >
        }

        <span *ngIf="fileName" class="file-name"
          >Archivo seleccionado: {{ fileName }}</span
        >
        } @if(isLoading){
        <app-upload-loader
          *ngIf="isLoading"
          [progress]="uploadProgress()"
          [fileName]="selectedFile?.name!"
        />
        }
      </div>
    </div>
    <div class="file-actions">
      <button class="custom-btn" (click)="clearFile()">Borrar</button>
      <button
        class="btn btn-primary"
        (click)="uploadFile()"
        [disabled]="!selectedFile"
      >
        Cargar archivo
      </button>
    </div>
  </div>
</div>

<!-- <div style="margin-top: 20px; text-align: center">
  <label>Progreso de prueba:</label>
  <input
    type="range"
    min="0"
    max="100"
    [value]="uploadProgress()"
    style="width: 250px"
  />
  <p>{{ uploadProgress() }}%</p>
</div> -->
